{% extends "bootstrap/base.html" %}

{% block title %}
	Hostess Robot
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	{% block scripts %}
		<script type="text/javascript" src="{{ url_for('.static',filename='scripts.js') }}"></script>
		{{ super() }}
	{% endblock %}
	<div class="container" id="container">
		<div class="page-header">
			<h1>Aggiungi nuova destinazione</h1>
		</div>
		<table style="width: 100%">
			<tr>
				<td width="49%" style="vertical-align: top;">
					<form method="POST" id="form">
						{{ form.hidden_tag() }}
						{{ wtf.form_errors(form, hiddens="only") }}
						{{ wtf.form_field(form.label, placeholder=form.label.label.text) }}
						{{ wtf.form_field(form.x, placeholder='0.0') }}
						{{ wtf.form_field(form.y, placeholder='0.0') }}
					</form>
				</td>
				<td width="2%"></td>
				<td width="49%" id="map-container">
					<img id="map" src="{{ url_for('.static', filename=map.image) }}" width="100%">
					<img id="locator" hidden="hidden" src="{{ url_for('.static', filename='location.png') }}">
					<img id="transparent" src="{{ url_for('.static', filename='transparent.png') }}" width="100%" draggable="false">
				</td>
			</tr>
		</table>
		<div class="page-footer">
			<input class="btn btn-default" type="button" value="Aggiungi destinazione" onclick="document.getElementById('form').submit();" />
			<input class="btn btn-default" type="submit" value="Resetta campi" onclick="document.getElementById('form').reset(); $('#locator').attr('hidden', true);" />
			<input class="btn btn-default" type="button" value="Ritorna al menù principale" onclick="window.location='/index';" />
			<span class="stretch"></span>
		</div>
	</div>
	<script>
		$("#form").bind("reset", resetGoalForm);
		$("#x").prop('readonly', true);
		$("#y").prop('readonly', true);
		
		$("#transparent").on('dragstart', function()
		{
			return false;
		});
		
		var minX = parseFloat({{ map.origin[0] }});
		var minY = parseFloat({{ map.origin[1] }});
		var resolution = parseFloat({{ map.resolution }});
		
		var maxX;
		var maxY;
		
		var dragging = false;
		
		var percentX;
		var percentY;
		
		$('#transparent').mousedown(function(e)
		{
			$('#locator').attr("hidden", false);
			
			var offset = $(this).offset();
			percentX = (e.pageX - offset.left) / this.width;
			percentY = 1 - ((e.pageY - offset.top) / this.height);
			
			$('#locator').css("left", (e.pageX - offset.left) - ($('#locator').width() / 2));
			$('#locator').css("top", (e.pageY - offset.top) - $('#locator').height());
			
			var x = minX + ((maxX - minX) * percentX);
			var y = minY + ((maxY - minY) * percentY);
			
			$("#x").val(Math.max(0, x).toFixed(2).toString());
			$("#y").val(Math.max(0, y).toFixed(2).toString());
			
			dragging = true;
		});
		
		function stopDragging()
		{
			dragging = false;
		}
		
		$('#transparent').mouseup(stopDragging);
		
		$('#container').mouseleave(stopDragging);
		$('#container').mouseup(stopDragging);
		
		$('#transparent').mousemove(function(e)
		{
			if(dragging)
			{
				var offset = $(this).offset();
				percentX = (e.pageX - offset.left) / this.width;
				percentY = 1 - ((e.pageY - offset.top) / this.height);
				
				$('#locator').css("left", (e.pageX - offset.left) - ($('#locator').width() / 2));
				$('#locator').css("top", (e.pageY - offset.top) - $('#locator').height());
				
				var x = minX + ((maxX - minX) * percentX);
				var y = minY + ((maxY - minY) * percentY);
				
				$("#x").val(Math.max(0, x).toFixed(2).toString());
				$("#y").val(Math.max(0, y).toFixed(2).toString());
			}
		});
		
		function resizer()
		{
			$('#transparent').attr('height', $('#map').height());
			
			var x = $('#transparent').width() * percentX;
			var y = $('#transparent').height() * (1 - percentY);
			
			$('#locator').css("left", x - ($('#locator').width() / 2));
			$('#locator').css("top", y - $('#locator').height());
			
			$('#map-container').attr('height', $('#map').height());
		}
		
		window.addEventListener("resize", resizer);
		
		document.getElementById("map").onload = function()
		{
			maxX = minX + (resolution * document.getElementById('map').naturalWidth);
			maxY = minY + (resolution * document.getElementById('map').naturalHeight);

			resizer();
		};
	</script>
{% endblock %}
